.center {
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: left;
}

.col {
	flex: 33%;
}

.axis-label {
  fill: #000;
  font-size: 16px;
  text-anchor: middle;
}

.selected {
	opacity: 1 !important;
	stroke: orange;
}

.selected_bar {
	stroke: orange;
	stroke-width: 5px; 
}